h6{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
}
p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
p.speech{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
p.stage-direction{
    background-color: lightgray;
}
h6.LADY_CAROLINE{
    color:rgb(60, 255, 0);
}
h6.Hester{
    color:pink;
}
h6.SIR_JOHN{
    color:red;
}
table{
    font-family: Arial, Helvetica;
    border-collapse: collapse;
}
td, th{
    border:1px solid black;
    text-align: center;
    padding: 25px 15px;
    margin: 15px 15px;
}
tr:nth-child(odd){
background-color: lightgray;
}
h6.Name:hover{
    text-shadow: 1px 1px 1px greenyellow;
    border: 1px solid blue;
}
ul.navbar-horizontal {
    /* remove these */
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    ul.navbar-horizontal li {
    float:left; /* line up horizontally */
    color:#000;
    background-color:purple
    }
    ul.navbar-horizontal a {
    display:block;
    padding:8px
    /* on hover change the link color*/
    ul.navbar-horizontal a:hover {
    background-color: #555;
    color:white;
    }